@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';

.resizedWrap {
    position: relative;
    width: 100%;
    height: 516px;
    overflow: hidden;
}

.resized {
    position: absolute;
    left: -797px;
    top: 0;
    width: auto;
    height: 100%;
}

.text {
    position: absolute;
    left: 45px;
    top: 47px;
    width: 416px;
    height: 416px;
    border: 4px solid #fff;
    img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}