@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold-webfont.eot');
    src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold-webfont.woff') format('woff'),
         url('../font/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold-webfont.woff') format('woff'),
         url('../font/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$break-large: 960px;

* {
    // fix bold fonts on mac
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider {
    position: relative;
    width: 100%;
    height: auto;
}

.resizedWrap {
    position: relative;
    width: 100%;
    height: auto;
    // margin-bottom: -25px;
    overflow: hidden;
    @media screen and (min-width: $break-large) {
        height: 516px;
    }
}

.resized {
    position: relative;
    top: 0;
    margin-left: 0;
    left: -83.1%;
    width: 198%;
    height: auto;
    @media screen and (min-width: $break-large) {
        // position: absolute;
        margin-left: -1611px;
        left: 84.8%;
        width: auto;
        height: 516px;
    }
}

.text {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    &:hover {
        border-color: #fff;
    }
    .mobileHidden {
        display: none;
    }
    .mobileShow {
        display: block;
    }
    @media screen and (min-width: $break-large) {
        position: absolute;
        left: 45px;
        top: 47px;
        width: 416px;
        height: 416px;
        border: 4px solid #fff;
        background-color: rgba(0, 0, 0, .75);
        &:hover {
            border-color: #ca3215;
        }
        .mobileHidden {
            display: inline;
        }
        .mobileShow {
            display: none;
        }
    }
    .slider-text-h1, .slider-text-p {
        position: relative;
        z-index: 1;
        color: #fff;
        margin-left: 24px;
        margin-right: 60px;
        cursor: pointer;
    }
    .slider-text-h1 {
        margin-top: 64px;
        text-transform: uppercase;
        font-family: 'open_sansbold';
        font-size: 30px;
        line-height: 36px;
        @media screen and (min-width: $break-large) {
            margin-top: 80px;
        }
    }
    .slider-text-p {
        display: inline-block;
        margin-top: 0;
        max-width: 400px;
        font-family: 'open_sansregular';
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 150px;
    }
    .slider-controls {
        // background-color: red;
        width: 272px;
        height: 13px;
        position: absolute;
        z-index: 1;
        left: 24px;
        bottom: 27px;
        padding: 0;
        margin: 0;
        @media screen and (min-width: $break-large) {
            bottom: 38px;
        }
    }
    img {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.watchNews {
    color: #fff;
    border: 4px solid #fff;
    position: absolute;
    bottom: 70px;
    left: 24px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    font-family: 'open_sanssemibold';
    font-size: 14px;
}

//slider slick
@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #fff !default;
$slick-dot-color-active: #fff !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '' !default;
$slick-dot-size: 4px !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else  {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else  {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
  @font-face {
      font-family:"slick";
      src:    slick-font-url("slick.eot");
      src:    slick-font-url("slick.eot?#iefix") format("embedded-opentype"),
              slick-font-url("slick.woff") format("woff"),
              slick-font-url("slick.ttf") format("truetype"),
              slick-font-url("slick.svg#slick") format("svg");
      font-weight: normal;
      font-style: normal;
  }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
      outline: none;
      background: transparent;
      color: transparent;
      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left:  auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}
.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left:  -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-slider {
    // margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    // bottom: -45px;
    list-style: none;
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 23px;
        width: 23px;
        // margin: 0 5px;
        text-align: center;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 23px;
            width: 23px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    top: 0;
                    width: 9px;
                    height: 9px;
                    margin-left: 3px;
                    transition: all 0.4s ease 0s;
                }
            }

            &:before {
                position: absolute;
                display: block;
                top: 3px;
                left: 0;
                content: $slick-dot-character;
                width: 3px;
                height: 3px;
                margin-left: 5px;
                border: 2px solid #fff;
                border-radius: 50%;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transition: all 0.4s ease 0s;
            }

        }

        &.slick-active button:before {
            top: 0;
            width: 9px;
            height: 9px;
            margin-left: 3px;
            transition: all 0.4s ease 0s;
        }
    }
}